{% extends 'layout.html' %}

<!--Title-->
{%block title%}
<title>Home</title>
{%endblock%}
{%block content%}
<h3 class="mt-5 text-center">Online Movie Cinema</h3>


<div class="row mt-5">
  {%for m in movie%}
  <div class="col-sm">
    <div class="card" style="width: 18rem">
      <img src="http://img.youtube.com/vi/{{m.trailer}}/maxresdefault.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ m.name }} </h5>
        {% if m.star > 3%}
        <span class="badge bg-danger">High rating</span>
        {% else %}
        <span class="badge bg-warning text-dark">Average rating</span>
        {% endif %}
        <p class="card-text">{{m.description}} </p>
        <a href="{% url 'movie' m.id %}" class="btn btn-primary">Trailer</a>
      </div>
    </div>

  </div>
  {%endfor%}


</div>





{%endblock%}